node_modules
.next
.next-e2e
.turbo
dist
pnpm-lock.yaml
test-results
playwright-report
coverage
docs
.codex
src/backend/supabase/.temp
src/backend/supabase/.branches
*.sql
.data
src/backend/packages/contracts/schema
vda_vinhomes_mock
**/next-env.d.ts
